/* Give your page a fun background color */
body {  
        background: grey;
        margin: 0px;
}
/* Make the header and footer a different color from the background */
.header { 
        padding-top: 20px;
        text-align: center;
        background: coral;
        color: white;
        font-size: 20px;     
}
/* Align the h1 containing your name in the center of the header*/
h1 {
        text-align: center;
        color:grey;
        padding: 10px;
}
/* Put a border around your image */
img {
        margin: 20px;
        border: 10px solid;
        border-color: lemonchiffon;
}

h2{
        margin-left: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: lemonchiffon;
}

/* Make your p tag a different color and italic */
 p {
        font-style: italic;
        color: lemonchiffon;
        margin-left: 20px;
 }

/* Change the font-family of your list */
 ul {
        color: antiquewhite;
        font-family: 'Courier New', Courier, monospace;
        width: 50%;
}

footer {
        width: 100%;
        height: 10%;
        background: coral;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
}